<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap 实例 - 基本表单</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		container
	</div>
	<div class="container">
		<div class="row">
			<p><code>&lt;select&gt;</code></p>
			<code>
				&lt;div;&gt
				Hello World;
				&lt;/div;&gt
			</code>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<table class="table table-striped table-hover table-condensed">
				<caption class="text-center">条纹表格布局</caption>
				<thead>
					<tr>
						<th>编号</th>
						<th>城市</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>北京</td>
					</tr>
					<tr class="warning">
						<td>2</td>
						<td>上海</td>
					</tr>
					<tr>
						<td>3</td>
						<td>西安</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<form action="" role="form" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">名称</label>
				<input type="text" name="form-control" id="name" placeholder="名称">
			</div>
			<div class="form-group">
				<label for="inputfile" class="col-sm-2 control-label">文件输入</label>
				<div class="col-sm-10"></div>
				<input type="file" name="" id="inputfile">
				<p class="help-block">这里是块级模块</p>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="">
							请打狗
						</label>	
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default">button</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		
		<h1>h1</h1>
		<h2>h2</h2>
		<h3>h3</h3>
		<div class="text-center">
			<h1>h1 <small>smallone</small></h1>
			<h2>h2<small>smalltwo</small></h2>
			<h3>h3</h3>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<form  class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label" for="email">
								邮箱：
							</label>
							<div class="col-md-10">
								<input type="text" id="email" name="email" class="form-control" placeholder="邮箱">
							</div>

							<label for="password" class="col-md-2 control-label">
								密码：
							</label>
							<div class="col-md-10">
								<input type="password" id="password" class="form-control" placeholder="密码">
							</div>
						</div>						
					</form>
				</div>
			</div>
		</div> 
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-push-8">8</div>
			<div class="col-md-8 col-md-pull-4">4</div>
		</div>
		<h2>


		</h2>
		<ul class="list-inline">
			<li><a href=""></a></li>
			<li><b></b></li>
			<li>charset</li>
			<li><data></data></li>
			<li><data></data></li>
			<li>f</li>
			<li>g</li>
			<li>h</li>
		</ul>
		<p class="lead">
			zhonguo
		</p>
	</div>
</body>
</html>